<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./style.css" rel="stylesheet"> 
</head>
<body>
    <nav>
        <label class="logo">DesignX</label>
        <ul>
      <li><a href="./index.html">home</a></li>
      <li> <a href="./contact.html">contact</a></li>
      <li> <a href="./service.html">service</a></li>
    </ul>
    </nav>
    <center>
    <fieldset >
    <form>
        <h1>Contactez_nous</h1>
    <table>
        <hr>
        <tr>
            <td>Nom:</td> <td> <input type="text" name="" value=""> <br><br></td>

        </tr>
        <tr>
            <td>Address: </td> <td><input type="text" name="" value=""><br><br> </td>
        </tr>
        <tr>
            <td>Numero Telephone: </td> <td><input type="tel" name="" value=""><br><br> </td> 
        </tr>
        <tr>
            <td>Email: </td> <td><input type="email" name="" value=""><br><br> </td> 
        </tr>
        <tr>
            <td  colspan="2"><input type="submit" id="submit" name="" value="contactez"> </td> 
        </tr>

    </table>

    </form>
</fieldset>
</center>
</body>
</html>